<style>

{}

body {
    background-color: #b7d1c4;
}

.contact {
    text-align: center;
    border-style: double;
    border-color: red;
    border-width: 5px;
    animation-name: border_color;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes border_color {
    0% {border-color: red;}
    16.66% {border-color: orange;}
    33.32% {border-color: yellow;}
    49.98% {border-color: green;}
    66.64% {border-color: blue;}
    83.3% {border-color: indigo;}
    100% {border-color: violet;}
}


#header {
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 5px;
}


</style>